{% load static %}
<style>
 .footer {
     overflow: hidden;
     margin-top: 250px;
     background: #008080;
     color: white !important;
     margin-bottom: 0;
     padding-bottom: 0;
     left:0;
     bottom:0;
 }

 small {
     font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .bold-text {
     color: white !important
 }

 .mt-55 {
     margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
 }

 h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .social {
     font-size: 21px !important
 }

 .rights {
     font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
 }
</style>
<div class="container-fluid pb-0 mb-0 justify-content-center text-light footer">
     <footer>
         <div class="row my-4 justify-content-center py-4">
             <div class="col-11">
                 <div class="row ">
                     <div class="col-xl-6 col-md-4 col-sm-4 col-12 my-3 mx-auto a">
                         <h3 class="text-muted mb-md-0 mb-5 bold-text">Daoxan Seeds</h3>
                     </div>
                     <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                         <h6 class="mb-3 mb-lg-4 bold-text "><b>QUICK LINKS</b></h6>
                         <ul class="list-unstyled">
                             <a href="" class="text-white"><li>Home</li></a>
                             <a href="" class="text-white"><li>About</li></a>
                             <a href="" class="text-white"><li>Contact</li></a>
                             <a href="" class="text-white"><li>Research and Development</li></a>
                         </ul>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                         <p class="mb-1">#464, 2nd Cross Rd, OPO Road, Chikkaballapur, Karnataka-562101</p>
                     </div>
                 </div>
                 <div class="row ">
                     <div class="col-xl-8 col-md-6 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                         <p class="social mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fab fa-facebook-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fab fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fab fa-twitter-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fab fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> SoftwarePro All Rights Reserved.</small>
                     </div>
                     <div class="col-xl-4 col-md-8 col-sm-4 col-auto order-1 align-self-end">
                         <h6 class="mt-55 mt-2 bold-text"><b>NIKSHEP RAMESH</b></h6><div class="d-inline"><i class="fa fa-envelope d-inline" aria-hidden="true"></i> nikshepramesh@gmail.com</div>
                     </div>
                 </div>
             </div>
         </div>
     </footer>

</div>