<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Daoxan seeds</title>
      {% include 'base/css.html' %}
  </head>
  <body>
    {% include 'base/navbar.html' %}
    <div class="container">

 <div class="d-block d-lg-none">{% include 'search/search-form.html' %}</div>

        <div class="container-fluid">{% block content %}{% endblock %}</div>

    </div>
    <div class="">{% include 'base/footer.html' %}</div>

    {% include 'base/js.html' %}
<script>
  $(document).ready(function(){
$('body').on('click','.form-product-ajax',function(){
      //contact form handler
<!--        var contactForm = $(".contact-form")-->
<!--        var contactFormMethod = contactForm.attr("method")-->
<!--        var contactFormEndpoint = contactForm.attr("action")-->


<!--        function displaySubmit(submitBtn, defaultText, doSubmit){-->

<!--        if (doSubmit){-->
<!--          submitBtn.addClass("disabled")-->
<!--          submitBtn.html("<i class='fa fa-spin fa-spinner'></i> Sending...")-->
<!--        }else{-->
<!--          submitBtn.removeClass("disabled")-->
<!--          submitBtn.html(defaultText)-->
<!--        }-->
<!--        }-->

<!--        contactForm.submit(function(event){-->
<!--          event.preventDefault();-->

<!--          var contactBtn = contactForm.find("[type='submit']")-->
<!--          var contactBtnText = contactBtn.text()-->

<!--          var contactFormData = contactForm.serialize();-->
<!--          //var thisForm = $(this);-->
<!--          displaySubmit(contactBtn, "",  true)-->
<!--          $.ajax({-->
<!--            url: contactFormEndpoint,-->
<!--            method: contactFormMethod,-->
<!--            data: contactFormData,-->
<!--            success: function(data){-->
<!--              contactForm[0].reset()-->
<!--              $.alert({-->
<!--                  title: "Success!",-->
<!--                  content: data.message,-->
<!--                  theme:"modern",-->
<!--                })-->
<!--                setTimeout(function(){-->
<!--                  displaySubmit(contactBtn, contactBtnText, false)-->
<!--                },2000)-->
<!--            },-->
<!--            error: function(error){-->
<!--            console.log(error)-->
<!--            var jsonData = error.responseJSON-->
<!--            var msg = ""-->
<!--            $.each(jsonData, function(key, value){-->
<!--              msg += key + ": " + value[0].message + "</br>-->
<!--            })-->
<!--              $.alert({-->
<!--                  title: "Oops!",-->
<!--                  content: msg ,-->
<!--                  theme:"modern",-->
<!--                })-->
<!--                setTimeout(function(){-->
<!--                  displaySubmit(contactBtn, contactBtnText, false)-->
<!--                },2000)-->
<!--            }-->
<!--        })-->

      // auto search
        var searchForm = $(".search-form");
        var searchInput = searchForm.find("[name='q']");
        var typingTimer;
        var searchBtn = searchForm.find("[type='submit']")

        searchInput.keyup(function(event){
          clearTimeout(typingTimer)
          typingTimer = setTimeout(performSearch, 500)
        })
        searchInput.keydown(function(event){
          clearTimeout(typingTimer)
        })

        function displaySearch(){
          searchBtn.addClass("disabled")
          searchBtn.html("<i class='fa fa-spin fa-spinner'></i> Searching...")
        }

        function performSearch(){
          displaySearch()
          var query = searchInput.val()
          setTimeout(function(){
            window.location.href = '/search/?q=' +query
          },1000)

        }

        var productForm = $(".form-product-ajax")

        productForm.submit(function(event){
          event.preventDefault();
          var thisForm = $(this)
          // var actionEndpoint = thisForm.attr("action");
          var actionEndpoint = thisForm.attr("data-endpoint");
          var httpMethod = thisForm.attr("method");
          var formData = thisForm.serialize();

          $.ajax({
            url: actionEndpoint,
            method: httpMethod,
            data: formData,
            
            success: function(data){
              console.log(data);
              var submitSpan = $('.submit-span-'+data.id+'')
              
              if (data.added){
                submitSpan.html('')
                submitSpan.append(' <div class="submit-span-{{product.id}}"><form class="form-product-ajax" method="POST"  data-endpoint="cart/update/" class="form" action="/cart/update/" method="POST"><input type="hidden" value="'+data.id+'" name="product_id"/><input type="submit" class="btn btn-success" value="Add again"/></form><br/>');
                submitSpan.append('<form class="form-product-ajax" method="POST"  data-endpoint="cart/update/" class="form" action="/cart/update/" method="POST"><input type="hidden" value="'+data.id+'" name="product_id"/><input type="hidden" name="remove" value="true"/><input type="submit" class="btn btn-danger" value="remove"/></form></div>');
              }
              else{
                submitSpan.html(' <div class="submit-span-{{product.id}}"><form class="form-product-ajax" method="POST"  data-endpoint="cart/update/" class="form" action="/cart/update/" method="POST"><input type="hidden" value="'+data.id+'" name="product_id"/><input type="submit" class="btn btn-success" value="Add to cart"/></form></div>');
              }
              var navbarCount = $(".navbar-cart-count")
              navbarCount.text(data.cartItemCount)
              var currentPath =window.location.href
              if (currentPath.indexOf("cart") !=-1){
                refreshCart()
              }
             },
            error: function(errorData){
                $.alert({
                  title: "Oops!",
                  content: "An error occurred",
                  theme:"modern",
                })
                console.log(errorData)
            }
            })
        })
        function refreshCart(){
        console.log("in current Cart")
        var cartTable = $(".cart-table")
        var cartBody = $(".cart-body")
        // cartBody.html("<h1>changed</h1>")
        var productRows = cartBody.find(".cart-product")
        var currentUrl = window.location.href

        var refreshCartUrl = '/api/cart/';
        var refreshCartMethod = "GET";
        var data = {};
        $.ajax({
          url: refreshCartUrl,
          method: refreshCartMethod,
          data: data,
          success: function(data){
            console.log(data)

            var hiddenCartItemRemoveForm = $(".cart-item-remove-form")
            if (data.products.length > 0){
              productRows.html("")
              i = data.products.length
              $.each(data.products, function(index, value){
                var newCartItemRemove = '<a href="/cart/remove/' + data.id + '/" class="btn btn-danger">remove</a>';
                newCartItemRemove.css("display", "block")
                newCartItemRemove.find(".cart-item-product-id").val(value.id)
                cartBody.prepend("<tr><th scope='row'>" + i + "</th><td><a href='" + value.url + "'>" + value.name + "</a><br/>"+value.quantity+ newCartItemRemove+"</td><td>" + "₹ " +  value.price + " x " + value.orderq + ' = ₹ ' + value.price * value.orderq + "</td></tr>")
                i --
              })
              cartBody.find(".cart-subtotal").text(data.subtotal)
              cartBody.find(".cart-total").text(data.total)
            }else{
              window.location.href = currentUrl
            }
          },
          error: function(errorData){
            $.alert({
                  title: "Oops!",
                  content: "An error occurred",
                  theme:"modern",
                })
            console.log(errorData)
          }
      })
      }
      })
      function pre(e){
        e.preventDefault();
      }
      });
</script>
  </body>
</html>