{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    h3,p{
        font-family: 'Balsamiq Sans', cursive;
    }
    .card{
        background-color:teal;
    }
    body{
      background:url("{% static 'img/RND-bg.jpg' %}");
      background-size:cover;
    }

</style>

<section class="container-fluid">
   <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-bold">Research and development</h1>
    <p class="lead">Daoxan has state of art R and D center for best hybrid seeds of tomato, guards, hot peppers and melons.</p>
  </div>
</div>
</section>
  <section class="container resources">
    <div class="card-deck">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body p-5">
      <h3 class="card-head text-center mb-3">Permanent Resources</h3>
        <p class="bullet">
          <i class="fas fa-caret-right"></i>   Net house -13300 sq. ft., ( ₹ 100 lakhs )
        </p>
        <p class="bullet">
          <i class="fas fa-caret-right"></i>   Nursery - 3000 sq. ft. , (₹ 20 lakhs)
        </p>
        <p class="bullet">
          <i class="fas fa-caret-right"></i>   Borewell – 15 HP,25 stage , ( ₹ 2 lakhs)
        </p>
        <p class="bullet">
          <i class="fas fa-caret-right"></i>   Fertilizer and chemical store – 1000 sq. ft. ( ₹ 2 lakhs)
        </p>
        <p class="bullet">
          <i class="fas fa-caret-right"></i>   Overhead water storage tank – 40k liters ( ₹ 5 lakhs)
        </p>
        <p class="bullet">
          <i class="fas fa-caret-right"></i>   Servant Quarters – 2 houses ( ₹ 2 lakhs)
        </p>

    </div>
  </div>
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body p-5">
      <h3 class="card-head text-center mb-3">Future Additions</h3>
        <p class="bullet">
          <i class="fas fa-caret-right"></i>   25,000 sq. ft. poly house (₹ 30 lakhs)
        </p>
        <p class="bullet">
          <i class="fas fa-caret-right"></i>   1 acre land will be converted with 40 mesh net house (₹ 100 lakhs)
        </p>
    </div>
  </div>
</div>
    </section>
{% endblock %}